@layer base {
  body {
    color: white;
    background-color: black;
  }
}
@layer components {
  .menuLink {
    @apply cursor-pointer hover:text-gray-400;
  }
.tags {
  background-color: #0abde3;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
  padding: 3px 10px;
  display: 'inline-block';
  color: #fff;
  font-size: 12px;
}
.tags:last-child {
  margin-right:0;
}

.tags:nth-child(2){
  background-color: #a55eea;
}
.tags:nth-child(3){
  background-color: #ff5571;
}

.tags:nth-child(4){
  background-color: #deef26;
}

}